@font-face {
  font-family: mont;
  src: url(../font/mont.otf);
}
* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}
body {
  max-width: 1140px;
  margin: 0 auto;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style-type: none;
  padding: 0;
}
button {
  border: none;
}
a {
  text-decoration: none;
  color: #000;
}
.nav,
.logo,
.menu ul {
  display: flex;
  align-items: center;
}
.logo p {
  font-family: mont;
}
.nav {
  z-index: 2;
  padding: 0em 1em;
  position: sticky;
  background: #fff;
  top: 0;
  justify-content: space-between;
}
.nav img {
  height: 3em;
  margin-right: 0.4em;
}
.nav a:hover {
  color: #4c04d1;
  font-weight: bolder;
  transition: color 0.2s;
}
.nav a {
  padding: 1em;
  font-weight: bold;
}

#menu-toggle,
.logo {
  padding: 1em;
}
#menu-toggle {
  display: none;
  margin-right: 0.5em;
}
#menu-toggle > div {
  padding: 0.1em 0.8em;
  background-color: #000;
  border-radius: 1em;
}
#menu-toggle > div:nth-child(2) {
  margin: 0.3em 0;
}

/* END OF NAV  */
.container:not(.footer) {
  min-height: 36em;
}
.container {
  display: flex;
  align-items: center;
  padding-top: 4em;
  margin: 0 auto 1em auto;
}
.pt-0 {
  padding-top: 0;
}
.w-2 {
  width: 50%;
  padding: 3em;
}
.hero-content a {
  font-size: 13pt;
  border-radius: 3em;
  padding: 1em 2em;
  color: white;
  font-family: mont;
  letter-spacing: 0.1em;
  background: linear-gradient(135deg, #1995ff, #4e13bd);
}

.hero-content p {
  font-family: mont;
  font-size: 32pt;
  margin-bottom: 0.5em;
}
.hero-image > div {
  position: relative;
  display: flex;
  margin-top: 1.8em;
  align-items: center;
  justify-content: center;
}
.hero-image > div img:first-child {
  min-height: 17em;
  z-index: -1;
}
.hero-image > div img:last-child {
  height: 100%;
  top: 0;
  z-index: -1;
  position: absolute;
}

/* END OF HERO  */
.overview-image img {
  /* min-height: 17em; */
  width: 100%;
}
.header {
  text-align: center;
  font-family: mont;
  margin: 1em 0;
}
.overview-content p {
  line-height: 2em;
}

/* END OF OVERVIEW  */

.carousel-list {
  display: flex;
  padding: 0.5em;
}
.carousel-list > div {
  padding: 0.2em 0.3em;
  margin: 0 0.5em;
  background: #d3d3d3;
  border-radius: 1em;
}
.carousel-list > div.active {
  background: #4e13bd;
}
.carousel-gallery {
  display: flex;
  align-items: center;
}
.column {
  flex-direction: column;
}
.carousel-images {
  z-index: 1;
  margin-bottom: 1em;
  overflow-x: hidden;
  min-width: 25em;
  width: 20em;
  height: 20em;
  position: relative;
}
.carousel-images > div {
  transition: left 0.5s;
  display: flex;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
}
.carousel-images img {
  object-fit: cover;
  max-width: 25em;
  min-width: 25em;
  height: 20em;
  border-radius: 1.5em;
}
.carousel-content {
  min-height: 26em;
  overflow-y: hidden;
}
.carousel-content h2 {
  margin: 1em 0;
}
.carousel-content p {
  line-height: 2em;
}

/* END OF CAREER  */
#articles-list {
  padding: 1em 3em;
}

#article-content p {
  margin-bottom: 2em;
}
#article-content ul {
  list-style-type: disc;
}
#article-content ol,
#article-content ul {
  padding: 0em 2em 2em 2em;
  line-height: 2em;
}
#article-content b {
  display: block;
  padding: 1em 0;
}
#article-content li {
  padding-left: 1em;
}

#articles-list li:hover {
  background-color: #673ab7;
  color: #f3f3f3;
  /* transition: 0.5s all; */
}
#articles-list li {
  /* font-family: mont; */
  /* font-size: 11pt; */
  display: flex;
  align-items: center;
  width: calc(50% - 1em);
  min-height: 4em;
  float: left;
  padding: 0.8em 2em;
  margin: 0.5em;
  border-radius: 1em;
  background-color: #f3f3f3;
  cursor: pointer;
}
#article-content {
  display: none;
  position: fixed;
  top: 0;
  /* left: 0; */
  z-index: 3;
  height: 100%;
  width: 100%;
  max-width: 1140px;
  background-color: #fff;
  overflow-y: auto;
  padding: 0;
}
#article-content img {
  height: 2em;
  cursor: pointer;
}
#article-author {
  padding: 0em 2em;
}
#article-content > div:not(#article-author) {
  padding: 2em;
}
#article-content > div:first-child h3 {
  padding-right: 2em;
}
#article-content > div:first-child {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#article-content > div:last-child {
  padding-top: 0em;
}
#article-content p {
  line-height: 1.5em;
}

/* END OF ARTICLE  */

.citations-card > div > div > p {
  margin: 0.5em 0;
}
.citations-card > div > p {
  font-weight: bold;
  margin: 1em 0;
}
.citations-card > div {
  line-height: 1.5em;
  word-break: break-all;
}
.citations-card {
  /* border-radius: 1em; */
  margin: 0em 3em;
  /* background: #d3d3d3; */
  max-height: 28em;
  overflow-y: auto;
}

/* END OF CITATION  */
#aboutus > .container {
  align-items: flex-start;
  margin-bottom: 0;
}
.about > p {
  line-height: 1.5em;
}
.contact textarea {
  font-size: 12pt;
  border-radius: 1em;
  padding: 1.2em;
  border: 0.2em solid #4e13bd;
  resize: none;
  width: 100%;
  /* background-color: #d3d3d3; */
}
.contact button {
  border-radius: 1em;
  padding: 1em 2em;
  background-color: #4e13bd;
  color: #fff;
  font-family: mont;
  margin-top: 0.5em;
  letter-spacing: 0.1em;
}
.footer > .footer-container > div img {
  height: 1em;
  margin-right: 0.5em;
}
.footer > .footer-container {
  display: flex;
  align-items: center;
  padding: 1em 3em;
  background: linear-gradient(135deg, #1995ff, #4e13bd);
  margin-bottom: 0;
}
.footer .footer-container > img {
  height: 9em;
  margin-right: 1em;
}
.footer span {
  font-weight: bold;
  font-family: mont;
  display: block;
  margin: 1em 0;
}
.social-account {
  display: flex;
  align-items: center;
}
.footer p {
  margin-right: 1em;
  display: flex;
  align-items: center;
}

#career p,
.citations-card > div > div,
.about > p,
#overview p,
#article-content > div:last-child {
  color: #4a5664;
  line-height: 2em;
  font-size: 13pt;
}

@media only screen and (max-width: 768px) {
  #menu-toggle {
    display: block;
  }
  .header {
    padding: 0.7em 0;
    margin: 0;
  }
  .nav {
    padding: 0;
  }
  .menu,
  .overview-image {
    display: none;
  }
  .menu.active {
    z-index: 11;
    display: block;
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 76px;
    left: 0;
  }
  .menu.active ul {
    display: block;
  }
  .menu.active a {
    text-align: center;
    display: block;
    padding: 1.5em 2em;
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .container {
    width: 100%;
    padding-bottom: 1.5em;
  }
  .hero-image > div img:first-child {
    height: 14.5em;
    min-height: initial;
  }
  .hero-content > p {
    font-size: 25pt;
    text-align: center;
  }
  #career .container {
    flex-direction: column;
  }
  .w-2 {
    width: 100%;
    padding: 1.5em 2em;
  }

  .carousel-images img,
  .carousel-images {
    height: 16em;
  }
  .carousel-content h2 {
    margin: 0.5em 0;
  }
  .carousel-content {
    padding-top: 0;
    padding-bottom: 0;
  }
  .carousel-gallery {
    padding: 0em 1em;
  }

  #articles-list {
    width: 100%;
    padding: 0.5em 1em;
  }
  #articles-list li {
    padding: 1em 1em;
    min-height: initial;
    margin: 0.6em 0;
    width: 100%;
    float: unset;
  }

  .citations-card {
    margin: 0em 2em;
    max-height: 33em;
  }

  #aboutus .container {
    flex-direction: column;
  }
  .footer .footer-container,
  .social-account {
    flex-direction: column;
  }
  .footer .social-account p {
    padding: 1em;
  }
}
